<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://etherio.github.io/cdn/normalize/normalize.css">
    <link rel="stylesheet" href="https://etherio.github.io/cdn/milligram/milligram.css">
</head>

<body>
    <div class="container">
        <h2>Welcome back,
            <b><%= fullname %>!</b>
        </h2>

        <button class="button" onclick="account.delete()">Delete this account</button>
    </div>

    <% if (permission >= 8) { %>
    <div class="container">
        <ul id="list-users"></ul>
    </div>
    <script>
        fetch("/users")
            .then(res => {
                if (res.status !== 200) {
                    res.text().then(res => {
                        throw res;
                     });
                }
                return res.json();
            })
            .then(users => {
                users.forEach(user => {
                    listUser(user);
                })
            });

        function listUser({ permission, _id, username, fullname, email }) {
            let li = document.createElement("li");

            li.setAttribute('data-id', _id);
            
            li.innerHTML = `<a href="mailto:${email}">${fullname}</a> (${username})`;

            document.getElementById("list-users").appendChild(li);
        }
    </script>
    <% } %>
    <script>
        const account = {
            async delete() {
                if (!confirm('Are you sure to delete this account? This cannot be undone.')) {
                    return;
                }

                let response = await fetch('/users', {
                    method: "DELETE",
                    headers: {
                        cookie: document.cookie
                    }
                });

                if (response.status === 202) {
                    return location.reload();
                }

                response = await response.text();

                alert(response);
            }
        }
    </script>
</body>

</html>
