<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://etherio.github.io/cdn/normalize/normalize.css">
    <link rel="stylesheet" href="https://etherio.github.io/cdn/milligram/milligram.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="container">

        <form action="/users/register" method="POST">
            <fieldset>
                <h2>Create an account</h2>

                <label for="fullname">Fullname</label>
                <input type="text" name="fullname" id="fullname" placeholder="Username" value="<%= typeof fullname !== 'undefined' ? fullname : '' %>" required>

                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username" autocapitalize="off" value="<%= typeof username !== 'undefined' ? username : '' %>" required>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required>

                <label for="password_confirm">Confirm your Password</label>
                <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm your Password" required>

                <label for="email">Email Address</label>
                <input type="text" name="email" id="email" placeholder="Email Address" autocapitalize="off" value="<%= typeof email !== 'undefined' ? email : '' %>">
        <% if (typeof errors !== 'undefined') {%>
            <ul id="error-message">
                <% errors.map(error => { %>
                    <li>
                        <%= error %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>


                <button type="submit">Create</button>
                <a href="/users/login" class="button button-outline">Back to login</a>
            </fieldset>
        </form>

    </div>
</body>

</html>
